In [1]:
import pandas as pd
import os

In [2]:
return_df = pd.read_excel("../Data/Components.xlsx")
return_df["code"] = return_df["code"].astype(str).str.zfill(6)
return_df = return_df.set_index("code")
return_df.head()

        code_full   name      2021      2022      2023
code
000001  000001.SZ   平安银行 -0.132696 -0.176295 -0.241602
000002  000002.SZ    万科A -0.221323 -0.021555 -0.266972
000063  000063.SZ   中兴通讯  0.001382 -0.210217  0.036873
000100  000100.SZ  TCL科技 -0.100891 -0.326498  0.212967
000166  000166.SZ   申万宏源 -0.010345 -0.186012  0.106854

In [3]:
annual_reports = os.listdir("../Data/AnnualReports")
annual_reports[:5]

['000001_平安银行_2020年年度报告.pdf',
 '000001_平安银行_2021年年度报告.pdf',
 '000002_万科A_2020年年度报告.pdf',
 '000002_万科A_2021年年度报告.pdf',
 '000063_中兴通讯_2020年年度报告.pdf']

In [32]:
import re
def get_report_year(report):
    year = re.search(r'(\d{4})年', report.replace(" ", "")).group(1)
    return year

report_rtn_df = []
for report in annual_reports:
    code = report.split("_")[0]
    year = int(get_report_year(report))
    # return of forward 1 year and 2 years
    rtn1y, rtn2y = return_df.loc[code, [year+1, year+2]]
    report_rtn_df.append([code, report, rtn1y, rtn2y])
report_rtn_df = pd.DataFrame(report_rtn_df, columns=["code", "report", "rtn1y", "rtn2y"])
report_rtn_df.head()

     code                     report     rtn1y     rtn2y
0  000001  000001_平安银行_2020年年度报告.pdf -0.132696 -0.176295
1  000001  000001_平安银行_2021年年度报告.pdf -0.176295 -0.241602
2  000002   000002_万科A_2020年年度报告.pdf -0.221323 -0.021555
3  000002   000002_万科A_2021年年度报告.pdf -0.021555 -0.266972
4  000063  000063_中兴通讯_2020年年度报告.pdf  0.001382 -0.210217

In [34]:
report_rtn_df.to_csv("../Data/ReportReturn.csv", index=False)